/*
@tailwind base;
*/
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 40; /* Cambia el z-index a 40 */
  background-color: rgba(17, 24, 39, 0.5); /* bg-gray-950/50 en Tailwind */
  /* Para el modo oscuro, puedes usar una clase adicional o manejarlo con JavaScript */
  transition: 250ms ease-in-out opacity;
  opacity: 1;
}
.modal:not(.modal--active) {
  opacity: 0;
  pointer-events: none;
}

.dark .modal {
  background-color: rgba(
    17,
    24,
    39,
    0.75
  ); /* dark:bg-gray-950/75 en Tailwind */
}

.modal__container {
  position: absolute;
  inset: 0;

  display: grid;
  cursor: pointer;

  overflow: auto;
  overscroll-behavior: contain;
}

.modal .modal__container:nth-child(n+2) {
  background-color: rgba(17, 24, 39, .5);
}

.dark .modal .modal__container:nth-child(n+2) {
  background-color: rgba(17, 24, 39, .75);
}

.modal:not(.modal--active) .modal__container {
  overflow: hidden;
}

.modal__inner {
  display: grid;
}

.Toastify__toast-body > div:first-letter{
    text-transform: uppercase;
}

input[type="number"] {
  text-align: right;
  padding-right: 10px; /* Ajusta el valor según sea necesario */
}

/*
textarea {
  field-sizing: content;
}

*/